<head>
	<title>Õpetaja Laur</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="index.css">
</head>
<body>
	<div class="container-center">
		<pre>
function minuTehe(a, b) {
	return a + b;
}

var vastus = minuTehe(5, 6);
</pre>
	<p>Mis on muutuja "vastus" väärtus?</p>
	<form>
		<input placeholder="kirjuta siia vastus" name="vastus">
		<input type="submit">
	</form>
	<p class="viga"></p>

	<p class="hidden hidden-win edu">Õige! Sa kvalifitseerud järgmisele levelile.</p>
	<input type="button" id="next-btn" class="hidden hidden-win" value="järgmine"/>

	<p class="hidden hidden-next-1 short-text">Ma vabandan, aga järgmist levelit pole veel olemas. Kanna 5€ mu kontole ja ma ehitan järgmised 3. See on nagu hooandja, aga iga viiekas ostab ühe ülesandeid kõigile lahendamiseks. Lisaks ülesannetele arendan ma seda kontseptsiooni ka edasi (ideid on palju).</p>

	<p class="hidden hidden-next-2">Krister Viirsaar, EE117700771002045114 selgituseks "koodikool".</p>
	<p class="hidden hidden-next-3">Ma ei ole päris <a target="_blank" href="https://krister.ee/">suvaline tüüp</a></p>

	</div>
	<script src="index.js"></script>
</body>